In [1]:
import pandas as pd
from datetime import datetime, timedelta
import re

In [2]:
datasheet = pd.read_csv('billboard.csv', encoding= 'unicode_escape')
datasheet

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,2000,Ghostface Killah,Cherchez LaGhost,3:04,R&B,2000-08-05,2000-08-05,98,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
313,2000,"Smith, Will",Freakin' It,3:58,Rap,2000-02-12,2000-02-12,99,99.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
314,2000,Zombie Nation,Kernkraft 400,3:30,Rock,2000-09-02,2000-09-02,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,2000,"Eastsidaz, The",Got Beef,3:58,Rap,2000-07-01,2000-07-01,99,99.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
316,2000,Fragma,Toca's Miracle,3:22,R&B,2000-10-28,2000-10-28,99,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
new_table = pd.melt(datasheet, id_vars=['year','artist.inverted','track','time','genre','date.entered', 'date.peaked'], value_vars=['x1st.week', 'x2nd.week', 'x3rd.week', 'x4th.week', 'x4th.week', 'x4th.week', 'x5th.week', 'x6th.week', 'x7th.week', 'x8th.week', 'x9th.week', 'x10th.week', 'x11th.week', 'x12th.week', 'x13th.week', 'x14th.week', 'x15th.week', 'x16th.week', 'x17th.week', 'x18th.week', 'x19th.week', 'x20th.week', 'x21st.week', 'x22nd.week', 'x23rd.week', 'x24th.week', 'x25th.week', 'x26th.week', 'x27th.week', 'x28th.week', 'x29th.week', 'x30th.week', 'x31st.week', 'x32nd.week', 'x33rd.week', 'x34th.week', 'x35th.week', 'x36th.week', 'x37th.week', 'x38th.week', 'x39th.week', 'x40th.week', 'x41st.week', 'x42nd.week', 'x43rd.week', 'x44th.week', 'x45th.week', 'x46th.week', 'x47th.week', 'x48th.week', 'x49th.week', 'x50th.week', 'x51st.week', 'x52nd.week', 'x53rd.week', 'x54th.week', 'x55th.week', 'x56th.week', 'x57th.week', 'x58th.week', 'x59th.week', 'x60th.week', 'x61st.week', 'x62nd.week', 'x63rd.week', 'x64th.week', 'x65th.week', 'x66th.week', 'x67th.week', 'x68th.week', 'x69th.week', 'x70th.week', 'x71st.week', 'x72nd.week', 'x73rd.week', 'x74th.week', 'x75th.week', 'x76th.week'])
new_table = new_table.sort_values(by=['track'])
new_table

,year,artist.inverted,track,time,genre,date.entered,date.peaked,variable,value
11776,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x36th.week,NaN
20652,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x64th.week,NaN
14629,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x45th.week,NaN
21920,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x68th.week,NaN
22237,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x69th.week,NaN
...,...,...,...,...,...,...,...,...,...
16016,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x49th.week,NaN
21722,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x67th.week,NaN
19503,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x60th.week,NaN
10944,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x33rd.week,NaN
2385,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x6th.week,49.0

In [4]:
new_table = new_table.dropna(subset=['value'])
new_table

,year,artist.inverted,track,time,genre,date.entered,date.peaked,variable,value
2900,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x8th.week,24.0
6704,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x20th.week,10.0
7021,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x21st.week,7.0
11142,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x34th.week,49.0
5753,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x17th.week,15.0
...,...,...,...,...,...,...,...,...,...
3336,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x9th.week,49.0
800,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x3rd.week,59.0
4287,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x12th.week,67.0
483,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x2nd.week,59.0
2385,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x6th.week,49.0

In [5]:
l=range(0,5907)
indexes=[x for x in l]
new_table.loc[:, "index"] = indexes
new_table.set_index('index', inplace=True)
new_table

C:\Users\adams\Anaconda3\lib\site-packages\pandas\core\indexing.py:376: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
C:\Users\adams\Anaconda3\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,year,artist.inverted,track,time,genre,date.entered,date.peaked,variable,value
index,,,,,,,,,
0,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x8th.week,24.0
1,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x20th.week,10.0
2,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x21st.week,7.0
3,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x34th.week,49.0
4,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x17th.week,15.0
...,...,...,...,...,...,...,...,...,...
5902,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x9th.week,49.0
5903,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x3rd.week,59.0
5904,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x12th.week,67.0
5905,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x2nd.week,59.0
5906,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x6th.week,49.0

In [9]:
format =  '%Y-%m-%d'
new_table["date_billboard"]='0'
for i in range (0,5907):
    new_table.loc[i,"date_billboard"] = datetime.strptime(new_table.loc[i,"date.entered"], format).date() + timedelta(days=7*(int(re.sub('\D', '', new_table.loc[i,"variable"]))-1))
new_table

C:\Users\adams\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,year,artist.inverted,track,time,genre,date.entered,date.peaked,variable,value,date_billboard
index,,,,,,,,,,
0,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x8th.week,24.0,2000-06-17
1,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x20th.week,10.0,2000-09-09
2,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x21st.week,7.0,2000-09-16
3,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x34th.week,49.0,2000-12-16
4,2000,Nelly,(Hot S**t) Country Grammar,4:17,Rap,2000-04-29,2000-09-16,x17th.week,15.0,2000-08-19
...,...,...,...,...,...,...,...,...,...,...
5902,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x9th.week,49.0,2000-12-30
5903,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x3rd.week,59.0,2000-11-18
5904,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x12th.week,67.0,2001-01-20
5905,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x2nd.week,59.0,2000-11-11
5906,2000,"Jackson, Alan",www.memory,2:36,Country,2000-11-04,2000-12-23,x6th.week,49.0,2000-12-09

In [10]:
new_table.to_csv("billboard_updated.csv")